html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
  background-color: #f1eee1;
  background-image:
  url("../images/paper-texture.webp");
  color: #050505;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
a {
  outline: none;
}
#refs .csl-entry a {
    display: inline-block;
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: none;
    box-shadow: none;
    font-size: 80%;
    font-style: italic;
    text-indent: 0;
}
#refs .csl-entry {
  text-indent: -2em;
  margin-left: 2em;
  margin-bottom: 0.8em;
}
#refs .csl-entry > span {
  /* font-variant-caps: small-caps; */
  font-family: 'Alegreya SC';

}
code {
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 17px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header, .footer {
  padding: 20px 0;
  position: relative;
  background-image: url("../images/dots.png"), url("../images/paper-texture.webp");
  background-color: #f1eee1;
  background-size: 64px;
  background-blend-mode: darken;}

.header {
  border-bottom: 1px solid #999;
}
.footer {
  border-top: 1px solid #999;
}

.nav, .footerinner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  text-align: right;
}

#search {
  text-align: left;
}
.footerinner {
  text-align: center;
}
.nav-logo {
  float: left;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
  border-radius: 50%;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
}

.nav-links a:hover {
  color: #000;
}
.content {
  font-size: 20px;
  line-height: 1.8;
  max-width: 700px;
  margin: 40px auto 10px;
  padding: 0 15px;
  color: #333;
}

.article-title {
  font-size: 34px;
  color: #222;
  margin: 0;
  line-height: 1.3;
}

.article-date {
  color: #ccc;
}

.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 10px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #bbb;
  color: #fff
}
.article-content {
  position: relative;
}
.article-content p {
  margin: 15px 0 25px;
}
.article-content img, .article-content embed {
  max-width: 100%;
  max-height: 35em;
}
.article-content embed {
  width: 100%;
}
.article-content .figure.illustration img {
    mix-blend-mode: darken;
    opacity: 0.9;
}
.article-content .figure .caption {
    text-align: right;
    font-style: italic;
    margin-top: 0;
}
.article-content .figure .caption em {
    font-style: normal;
}
.article a, .homepage-content a {
  /*text-decoration: none;*/
  color: inherit;
  /*border-bottom: 3px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #CBF8DF;
  background: transparent;
  transition: background 150ms ease;*/
}

.article-content a:hover,
.article-content a:focus,
.homepage-content a:hover,
.homepage-content a:focus {
  /*background: #CBF8DF;*/
}

.article hr {
  width: 250px;
  margin: 10px auto;
  height: 1px;
  border-bottom: 1px solid #333;
  border-top: none;
  border-left: none;
  border-right: none;
  overflow: hidden;
  /* background: #e5e5e5; */
}
.article .article-description {
  margin: 0.5em 1em 0 0;
  padding-left: 1em;
  /* font-style: italic; */
  font-family: Alegreya;
  line-height: 1.4;
  font-size: 24px;
  font-weight: bold;
}
.related {
  display: block;
}
.related ul {
  display: inline;
  padding: 0;
}
.related ul li{
  display: inline;
}
.related ul li:after {
  content: " — ";
}
.related ul li:last-of-type:after {
  content: ".";
}
.related ul li a {
  font-style: italic;
  font-size: 90%;
}

#refs > div > p {
  margin-left: 1em;
  text-indent: -1em;
}
#TOC a {
  text-decoration: none;
  color: inherit;
}
#TOC a:hover {
  text-decoration: underline;
}
#TOC {
  border-top: 5px double #555;
  border-bottom: 4px double #555;
  display: inline-block;
  width: 60%;
  font-size: 80%;
}
#TOC ul {
    margin-left: 0.2em;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    padding-left: 0;
    width: 100%;
}
#TOC li {
  list-style-type: none;
  margin-left: 1em;
  /* text-indent: -1em; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.taxonomy {
  display: inline-block;
  padding: 0 0.5em 0 0;
}
.tags {
  /* font-size: 80%; */
  display: inline;
  padding: 0 0.5em 0 0.5em;
}
ul.article-tags {
  display: inline;
  padding: 0;
  font-size: 80%;
}
ul.article-tags:before {
}
ul.article-tags li {
  display: inline;
  list-style-type: none;
}
ul.article-tags li:before {
  content: " — ";
}
ul.article-tags li:first-of-type:before {
  content: ""
}
.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.description {
  font-style: italic;
  font-size: 80%;
}

.rating:after {
  vertical-align: super;
  font-size: 0.83em;
}
.rating-usefulness-0:after {
  content: "🔧";
}
.rating-usefulness-1:after {
  content: "🔧🔧";
}
.rating-usefulness-2:after {
  content: "🔧🔧🔧";
}
.rating-novelty-0:after {
  content: "💡";
}
.rating-novelty-1:after {
  content: "💡💡";
}
.rating-novelty-2:after {
  content: "💡💡💡";
}
.rating-completeness-0:after {
  content: "🚧 🚧 🚧 ";
}
.rating-completeness-1:after {
  content: "🚧 🚧 ";
}
.rating-completeness-2:after {
  content: "🚧 ";
}
.rating-certainty-0:after {
  content: "🤪🤪🤪";
}
.rating-certainty-1:after {
  content: "🤪🤪";
}
.rating-certainty-2:after {
  content: "🤪";
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: center;
  color: #111;
}

.archive-title {
  font-size: 32px;
  margin-top: 60px;
}

.archive-item {
  margin: 5px 0 15px;
  padding: 0;
}

.archive-item-date {
  color: #555;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 5px;
  /* display: block; */
}
.archive .archive-item-date:before { content: "—\0000A0";}
.archive .ratings:before { content: "—\0000A0";}

.archive-item-link {
  /* display: inline-block; */
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: #222;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
  border-bottom-color: #222;
}

.archive .description:before { content: "—\0000A0";}
/* .archive .description:after { content: "\0000A0—";} */
.ratings {
  font-size: 80%;
}
.footer {
  padding: 25px 0;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #888;
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: '/';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

@media (min-width: 600px) {
  .header {
    padding: 15px 0 10px 0;
  }
  #search {
      width: 50%;
      position: relative;
      left: 50%;
  }
  #search > div {
    margin-top: 0.5em;
  }
  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .highlight {
    font-size: 16px;
    margin: 40px -20px;
  }

  .archive {
    text-align: left;
  }

  .archive-title {
    font-size: 38px;
  }

  .archive-item-date {
    font-size: 16px;
    text-align: right;
    /* float: right; */
  }

  .archive-item-link {
    text-overflow: ellipsis;
    max-width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
  }

  .article-title {
    font-size: 42px;
  }

  .article-duration {
    font-size: 12px;
  }

  .footer-links {
    font-size: inherit;
  }
}
@media (min-width: 1100px) {
  #TOC {
    width: 200px;
    position: fixed;
    right: calc(50% - 550px);
    /*position: absolute;
    right: -200px;*/
    top: 6em;
    border: none;
    height: 100%;
    overflow-y: auto;
  }
}
@media print {
  .header, .footer {
    display: none;
  }
  .article-content a {
    box-shadow: none;
  }
}
