{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    <h2 class="article-description">{{ .Params.description }}</h1>
    {{ if .Section  }}
      <span class="article-date">
        {{ partial "datespan.html" . }}
      </span>
    {{ end }}
    {{ partial "ratings.html" . }}
    <div class="tags">
    {{ partial "tags.html" . }}
    </div>
    <div class="related">
    {{ partial "related.html" . }}
    </div>
    <hr />
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

  {{ if .Site.Params.welcommentsId  }}
  <hr/>
  <p><strong>Warning!</strong> Experimental comments system! If is does not work for you, let me know via the 
  <a href="/contact.html">contact form</a>.</p>
  {{ partial "welcomments/comments" (dict "context" . "websiteId" .Site.Params.welcommentsid ) }}
  {{ end }}

</main>

{{ partial "footer.html" . }}
