{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    <h1 class="article-description">{{ .Params.description }}</h1>
    {{ if .Section  }}
      <span class="article-date">
        {{ .PublishDate.Format "2006-01-02" }}
        {{ if ne .Lastmod .PublishDate }}
        – {{ .Lastmod.Format "2006-01-02" }}
        {{ end }}
      </span>
    {{ end }}
    {{ with .Params }}
    <span class="ratings">
      <span class="rating-usefulness-{{ .usefulness }}"></span>
      <span class="rating-certainty-{{ .certainty }}"></span>
      <span class="rating-novelty-{{ .novelty }}"></span>
      <span class="rating-completeness-{{ .completeness }}"></span>
    </span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
