      <footer class="footer">
        <div class="footerinner">
          <ul class="footer-links">
          {{ with .OutputFormats.Get "RSS" -}}
          <li>
            <a type="{{.MediaType.Type}}" href="{{ .RelPermalink }}" title="{{ $.Site.Title | safeHTML }}" target="_blank">
              RSS feed</a>
          </li>
          {{ end -}}
          </ul>
          {{ partial "footer_custom" . }}
        </div>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ partial "footer_tracking" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
